* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-text {
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    margin: 15px 0px;
    text-align: start;
    font-size: 45px;
    margin: 30px 0px;
    color: #743838;
}

.main-text-one {
    color: #c5ad79;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px;
}

.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.container-content {
    margin: 30px;
}

.form-image {
    width: 80%;
    object-fit: cover;
    overflow: hidden;
}

.text-danger {
    color: #c39859;
    margin: 0px;
    padding: 5px;
}

.form-control {
    padding: 15px;
    width: 800px;
    border-radius: 15px;
    border: #743838 solid 1px;
}


.form-main {
    background-color: rgb(255, 255, 255);
    padding: 40px;
}

.form-label {
    display: flex;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-bottom: 10px;
}

.contact-button {
    padding: 12px 24px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: #e0b87c;
    border: none;
    margin-top: 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

Button:hover {
    background-color: #c19b63;
}




@media screen and (max-width: 1200px) {
    .container {
        flex-direction: column;
        align-items: center;
        margin: 40px;
    }

    .form-control {
        width: 100%;
    }

    .form-main {
        padding: 20px;
    }

    .form-image {
        width: 100%;
    }
}