* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-container {
object-fit: cover;
   
    width: 100%;
    overflow: hidden;
}

.hero-text {
    position: absolute;

    top: 60%;
        left: 10%;
        transform: translate(-20%, -50%);
    text-align: left;
    
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    
    
}
.hero-image {
   position: relative; 
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.hero-text h2 {
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.2rem;
    color: white;
    max-width: 600px;
    margin: 0 auto 20px;
}

.hero-button {
    padding: 12px 24px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    background-color: #ef8d3c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero-button:hover {
    background-color: #bd6f2f;

}


@media screen and (max-width: 1800px) {
    .hero-text {
        top: 55%;
        left: 15%;
        padding: 30px 40px;
    }


    .hero-text h2 {
        font-size: 65px;
        color: white;
        margin-bottom: 10px;
    }

    .hero-text p {
       
        font-size: 22px;
        color: white;
        max-width: 800px;
        margin: 0 auto 5px;
    }


    .hero-button {
        padding: 10px 10px;
        font-size: 20px;
    }
}

@media screen and (max-width: 1500px) {
    .hero-text {
        top: 50%;
        left: 17%;
        padding: 40px 50px;
    }


    .hero-text h2 {
        font-size: 60px;
        color: white;
        margin-bottom: 10px;
    }

    .hero-text p {
        font-size: 18px;
        color: white;
        max-width: 750px;
        margin: 0 auto 5px;
    }


    .hero-button {
        padding: 10px 10px;
        font-size: 17px;
    }
}

@media screen and (max-width: 1300px) {
    .hero-text {
        top: 50%;
        left: 15%;
        padding: 30px 40px;
    }


    .hero-text h2 {
        font-size: 55px;
        color: white;
        margin-bottom: 10px;
    }

    .hero-text p {
        font-size: 18px;
        color: white;
        max-width: 670px;
        margin: 0 auto 5px;
    }


    .hero-button {
        padding: 10px 10px;
        font-size: 17px;
    }
}

@media screen and (max-width: 1200px) {
    .hero-text {
        top: 45%;
        left: 18%;
        padding: 20px 40px;
    }


    .hero-text h2 {
        font-size: 50px;
        color: white;
        margin-bottom: 10px;
    }

    .hero-text p {
        font-size: 18px;
        color: white;
        max-width: 620px;
        margin: 0 auto 5px;
    }


    .hero-button {
        padding: 10px 10px;
        font-size: 15px;
    }
}


@media screen and (max-width: 1000px) {
.hero-text {
        top: 35%;
        left: 18%;
        padding: 20px 35px;
    }


    .hero-text h2 {
        font-size: 45px;
        color: white;
        margin-bottom: 10px;
    }

    .hero-text p {
        font-size: 18px;
        color: white;
        max-width: 550px;
        margin: 0 auto 5px;
    }


    .hero-button {
        padding: 10px 10px;
        font-size: 15px;
    }
}

@media screen and (max-width: 840px) {
.hero-text {
        top: 35%;
        left: 20%;
        padding: 15px 25px;
    }


    .hero-text h2 {
        font-size: 35px;
        color: white;
        margin-bottom: 10px;
    }

    .hero-text p {
        font-size: 16px;
        color: white;
        max-width: 500px;
        margin: 0 auto 5px;
    }


    .hero-button {
        padding: 10px 10px;
        font-size: 15px;
    }
}

@media screen and (max-width: 700px) {
  
.hero-text {
        top: 30%;
        left: 20%;
        padding: 15px 25px;
    }


    .hero-text h2 {
        font-size: 30px;
        color: white;
        margin-bottom: 10px;
    }

    .hero-text p {
        font-size: 14px;
        color: white;
        max-width: 400px;
        margin: 0 auto 5px;
    }


    .hero-button {
        padding: 10px 10px;
        font-size: 12px;
    }
}


@media screen and (max-width: 600px) {
.hero-text {
        top: 25%;
        left: 20%;
        padding: 15px 25px;
    }
 

    .hero-text h2 {
        font-size: 20px;
        color: white;
        margin-bottom: 10px;
    }

    .hero-text p {
        font-size: 11px;
        color: white;
        max-width: 300px;
        margin: 0 auto 3px;
    }
    

    .hero-button {
        padding: 8px 10px;
        font-size: 12px;
    }
}
