.newsletter-tab {
max-width: 100%;
    margin: 50px  0px;
    justify-content: center;
    align-items: center;
}

.newsletter-tab h1 {
    font-weight: normal;
    color: #743838;

}

.newsletter-space {
    width: 800px;
    margin: 10px;
    padding: 10px;
    border: #743838 solid 1px;
    color: #c19b63;
}

.newsletter-consent {
    font-size: x-small;
}



.newsletter-button {
    padding: 8px 20px;
    margin-left: 15px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: #e0b87c;
    border: none;
    margin-top: 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.newsletter-button:hover {
    background-color: #c19b63;

}


@media screen and (max-width: 1200px) {

    .newsletter-space {
            width: 80%;
            padding: 10px;
            border: #743838 solid 1px;
        }

.newsletter-tab {
        width: 80%;
        
    }

        
}
