* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.info-cards {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    margin: 20px 5px;
    justify-content: space-between;




}


.cards {
    background-color: rgb(32, 34, 34);
    margin: 10px 20px;
    flex: 0 1 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.card-imgs {
    position: relative;
    height: 100%;
    width: 100%;
}

.card-title {
    font-size: 30px;
    font-weight: lighter;
    color: white;
}

.card-body {
    padding: 10px 10px;
    color: white;
}

@media (max-width: 860px) {

    .info-cards {
        display: flex;
        flex-direction: column;

        margin: 0px 0px;
        justify-content: space-between;




    }

    .cards {


        margin: 10px 0px;

        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}