* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    background-color: rgb(28, 28, 28);
    padding: 20px 30px;
    /* position: fixed;
    left: 0;
    bottom: 0; */
    width: 100%;

}

.logo-image {
    height: 50px;
    width: auto;

}

.logo {
    color: white;
    font-size: 25px;
}

.footer-sections {
    display: flex;
    flex-direction: column;

}

.footer-sections-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 30px;
    align-items: flex-end;
}

.footer-sections-2 {
    display: flex;
    justify-content: flex-start;
    color: white;
    padding-top: 30px;
}

.footer-social {
    color: white;

}
.link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 3px;
}

.footer-social h4 {
    font-weight: normal;
    margin-bottom: 20px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    color: rgb(188, 167, 137);
    justify-content: start;
        align-items: start;
       
      
    

}

.footer-links-main {
    display: flex;
    flex-direction: row;
    width: 600px;
    justify-content: space-between;
   
}

.footer-title{
    margin-bottom: 10px;
    margin-left: 5px;



}

.footer-links a:hover {
    color: #e99c5c;
}


.footer-links-lists {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

  
}
.footer-links-lists a {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    color: rgb(255, 255, 255);
  
   

}

.social {
    text-decoration: none;
    color: #ef8d3c;
    font-size: 20px;
    padding: 10px 10px;
    margin: 0 5px;
}

.footer-social a:hover {
    color: #c9732d;
}

.small {
    display: none;
}

.copyright {
    color: #c9732d;

}

    @media (max-width: 900px) {

.footer-links-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
        align-items: center;
        width: 300px;
}

.footer-links {
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}



.footer-links-lists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
}

@media (max-width: 650px) {

    .footer-sections-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-social {
        padding-top: 30px;
    }

    .footer-links {
        padding: 20px 20px;

    }

    .footer-links-list {

        align-items: center;

    }

    .logo-image {
        height: 70px;
        width: auto;
    }

    .logo {
        color: white;
        font-size: 40px;
        padding-bottom: 10px;
    }

    .small {
        display: flex;
        width: 50%;
    }
}