* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    background-color: rgb(28, 28, 28);
    padding: 20px 30px;
    /* position: fixed;
    left: 0;
    bottom: 0; */
    width: 100%;

}

.logo-image {
    height: 50px;
    width: auto;

}

.logo {
    color: white;
    font-size: 25px;
}

.footer-sections {
    display: flex;
    flex-direction: column;

}

.footer-sections-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 30px;
    align-items: flex-end;
}

.footer-sections-2 {
    display: flex;
    justify-content: flex-start;
    color: white;
    padding-top: 30px;
}

.footer-social {
    color: white;

}

.footer-social h4 {
    font-weight: normal;
    margin-bottom: 20px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    color: white;

}

.footer-links a:hover {
    color: #e99c5c;
}


.footer-links-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

}

.social {
    text-decoration: none;
    color: #ef8d3c;
    font-size: 15px;
    padding: 10px 10px;
    margin: 0 5px;
}

.footer-social a:hover {
    color: #c9732d;
}

.small {
    display: none;
}

.copyright {
    color: #c9732d;
}

@media (max-width: 610px) {

    .footer-sections-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-social {
        padding-top: 30px;
    }

    .footer-links {
        padding: 20px 20px;

    }

    .footer-links-list {

        align-items: center;

    }

    .logo-image {
        height: 70px;
        width: auto;
    }

    .logo {
        color: white;
        font-size: 40px;
        padding-bottom: 10px;
    }

    .small {
        display: flex;
        width: 50%;
    }
}