.hotel-main-title {
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    font-size: 50px;
    text-align: left;
    margin: 20px 50px;
    color: #cc9d37;

}

.hotel-main-text {
    text-align: left;
    margin: 20px 50px;
    margin-bottom: 30px;
    font-size: 25px;
    color: #743838;
    width: 70%;
}

@media screen and (max-width: 1000px) {
    .hotel-main-text {
        text-align: justify;
    }
}