.cards-container {
    display: flex;
    flex-wrap: wrap;
    
}

.restaurant-card {

    width: 400px;
    background-color: rgb(252, 252, 252);
    border-radius: 10px;
    margin: 20px;
    justify-content: start;
    align-items: start;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
}
.restaurant-rating {
    color: rgb(255, 153, 0);
}

.restaurant-card:hover {
    transform: translateY(-15px);

}

.restaurant-text-info {
    font-weight: bold;
    color: #743838;
    font-size: 15px;
}

.restaurant-img {
    width: 400px;
}

.restaurant-list {
    display: flex;
    flex-wrap: wrap;

    gap: 30px;
    justify-content: space-around;

}


.restaurant-card {
    flex: 1 1 calc(33.33% - 20px);

}
.inline-container {
    display: flex;
        /* or display: grid; */
        gap: 10px;
}



.restaurant-link {
    text-decoration: none;
    background-color: #743838;
    color: aliceblue;
    border-radius: 50px;
    padding: 10px 30px;
    margin: 10px 75px;
   
    
}

.restaurant-text {
    margin: 20px;
    justify-content: start;
    align-items: start;
    text-align: left;
    padding: 10px;
}

.restaurant-title {
    font-family: 'Oswald', sans-serif;
    color: #743838;
    margin: 5px 0px;
}
.restaurant-rating {
    margin-bottom: 10px;
}

.restaurant-desc {
    margin: 15px 0px;
    color: rgb(106, 107, 107);
}

.restaurant-address {
    margin-bottom: 30px;

}

.search-filters input {
    padding: 10px 30px;


}

.search-input {
    display: flex;
    align-items: center;
        justify-content: center;
}
.search-icon {
    margin: 10px;
    font-weight: lighter;
    font-size: 30px;
}

.search-filters {
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: flex-start;
    margin: 10px 40px;

}